/* HEAD BAR */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    height: 100px;
    background-color: #000000;
}

.navbar-brand {
    height: 110px;
    width: 250px;
    position: absolute;
}

.car {
    margin-left: 120px !important;
    height: 80px;
    width: 140px;
    position: absolute;
}

.fire {
    height: 60px;
    width: 60%;
    position: relative;
    margin: 45px 0 0 43.5%;
    display: none;
}

.rayo {
    width: 200px;
    height: 100px;
    margin: 0 0 0 89%;
    display: none;
    position: absolute;
}

