body {
    background-image: url(../img/back4.png);
    background-size: auto;
    background-repeat: no-repeat;
}

/* MAIN */
.bt1 {
    background-color: transparent;
    border: none 0px;
    margin-left: 35%;
}

.selecttext,
.choosevs,
.fight {
    background-color: transparent;
    border: none;
    display: none;
    font-weight: bold;
    font-family: Comic Sans MS;
    font-size: 30px;
    color: #DAA520;
    text-shadow: 3px 2px #000000;
}

.selected {
    height: 300px;
    width: 300px;
    border: 1px solid green;
}
    



