body {
    background-image: url(../img/back4.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* MAIN */
.bt1 {
    background-color: transparent;
    border: none;
    margin-left: 35%;
}

.lifeplayer,
.lifevs {
    font-weight: bold;
    font-size: 50px;
    color: #DAA520;
    text-shadow: 3px 3px #000000;
}

.selecttext,
.choosevs {
    background-color: transparent;
    border: none;
    display: none;
    font-weight: bold;
    font-size: 50px;
    color: #DAA520;
    text-shadow: 3px 4px #000000;
}

.bonus {
    font-weight: bold;
    color: green;
    text-shadow: 3px 2px #000000;
    font-size: 90px;
}

.fight {
    display: none;
    margin-top: 300px;
    background-color: transparent;
    border: none;
}

.fight:active {
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}

.fightimg {
    width: 350px;
}

.selected {
    height: 300px;
    width: 300px;
    border: 1px solid green;
}

.gameover {
    font-size: 150px;
    font-weight: bold;
    color: darkorange;
    margin-top: 350px;
    text-shadow: 2px 3px #0f0f0f;
    font-family: 'Roboto Slab', serif;
}

.label {
    color: white;
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
}


